<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
    <title>Sentiment of key dates during Covid-19 Pandemic</title>
        <style>

            .topnav {
      background-color: #f0f0f0;
      padding: 10px;
    }

    .topnav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .topnav li {
      display: inline-block;
      margin-right: 50px;
    }

    .topnav a {
        font-size: 25px;
      color: #333;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
        margin-right: 100px;
    }

    .topnav a:hover {
      background-color: #333;
      color: #fff;
    }
    </style>
</head>
<body>
         <div class="topnav">
  <a href="/">Home</a>
  <a class="/active" href="#daily">Daily</a>
  <a href="/keydates/">Key Dates</a>
  <a href="/models/">Models</a>
  <a href="#about">About</a>
</div>
    <title>Key Dates during Covid-19 Pandemic</title>
    <p>This page shows the sentiment at key dates and compares with the average sentiment during the month</p>
    <h2>Key dates in 2020:</h2>
    <p>March 23, 2020: The United Kingdom announces a nationwide lockdown<br>
    April 2nd - Global cases of COVID-19 exceed one million<br>
    April 10th - COVID-19 deaths pass 100,000<br>
    April 15 - Cases pass 2 million<br>
    May 1st - US Food and Drug Administration issued emergency approval for the hepatitis and Ebola treatment, Remdesivir, to be used as COVID-19 treatment.<br>
    15 May -  Death toll passes 300,000<br>
    28 June - global cases passed 10 million<br>
    16 November - Moderna announced its Phase 3 trial data showed the vaccine to be more than 94% effective<br>
        2 December - UK became the first country to approve the Pfizer-BioNTech vaccine<br></p>
    <h2>2021:</h2>
    <p>15 January - the world passed 2 million COVID-19 deaths<br>
    30 Jan - marked a year since the WHO declared the pandemic a public health emergency of international concern<br>
    30 March - WHO released findings of a report into origins of the virus that finds it “highly likely” it was transmitted from a bat to humans<br>
    19 April - marked the end of a week with 5.2 million cases reported, the highest rate since the pandemic started.<br>
    21 April - India recorded 315, 735 new cases on 21 April, the world’s highest recorded single-day total in any country.<br>
    11 May -  A new coronavirus strain first detected - the Delta variant first detected in India - was declared a "variant of concern"<br>
    May 19 -  The United States lifts mask mandates for fully vaccinated individuals<br>
    7 July - confirmed COVID-19 deaths around the world pass the 4 million milestone.<br>
    23 August - the US Food and Drug Administration approve the first COVID-19 vaccinations for people under 16 years of age<br>
    September 22 - global death toll from COVID-19 reaches 4.7 million, according to Johns Hopkins University.
    October 21 - India passed the milestone of administering 1 billion COVID-19 vaccinations<br>
        November 1st - The global death toll from the pandemic surpassed 5 million lives<br></p>
    <h2>2022:</h2>
    <p>January 30th - 2 year anniversary since the WHO declared the pandemic a public health emergency of international concern<br>
</p>
{{ 23Mar2020 | safe }}
</body>
</html>