<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Models</title>
    <style>    .topnav {
      background-color: #f0f0f0;
      padding: 10px;
    }

    .topnav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .topnav li {
      display: inline-block;
      margin-right: 50px;
    }

    .topnav a {
        font-size: 25px;
      color: #333;
      text-decoration: none;
      padding: 5px 10px;
      border-radius: 5px;
        margin-right: 100px;
    }

    .topnav a:hover {
      background-color: #333;
      color: #fff;
    }

  </style>
</head>
<body>
     <h1>MODEL DATA</h1>

     <div class="topnav">
  <a href="/">Home</a>
  <a href="/daily/">Daily</a>
  <a class="active" href="#models">Models</a>
  <a href="#about">About</a>
</div>
<p> We tested a number of different model's accuracy. You can find below the total accuracy statistics graphed by model</p>

{{ barchart | safe }}

</body>

</html>